LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "green_btn" SITE "P11";
INPUT PORT "green_btn" IO_TYPE=LVCMOS33;

LOCATE COMP "blue_btn" SITE "P13";
INPUT PORT "blue_btn" IO_TYPE=LVCMOS33;

LOCATE COMP "dip" SITE "P12";
INPUT PORT "dip" IO_TYPE=LVCMOS33;

LOCATE COMP "dp" SITE "B6";
OUTPUT PORT "dp" IO_TYPE=LVCMOS33;

LOCATE COMP "blue" SITE "A12";
IOBUF PORT "blue" IO_TYPE=LVCMOS33;

LOCATE COMP "green" SITE "A11";
IOBUF PORT "green" IO_TYPE=LVCMOS33;

# 7-segment display (correct mapping)
LOCATE COMP "seg7[6]" SITE "A4";
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "A5";
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "A6";
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "A7";
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "A8";
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "B7";
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "B8";
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;